/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    /* Fix 401 */
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    /* This class is applied to the lower origin when
   its values is > 50%. */
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}


/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */

.noUi-base {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* Slider size and handle placement;
 */

.noUi-horizontal {
    height: 9px;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    left: -9px;
    top: -5px;
}


/* Styling;
 */

.noUi-background {
    background: #f1f1f1;
}

.noUi-connect {
    background: #a2a7a9;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-target {}


/* Handles and cursors;
 */

.noUi-dragable {
    cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
    cursor: n-resize;
}

.noUi-handle {
    border: 1px solid #a2a7a9;
    border-radius: 2px;
    background: #FFF;
    cursor: default;
}

.noUi-active {}


/* Handle stripes;
 */

.noUi-handle:before,
.noUi-handle:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 10px;
    background: #E8E7E6;
    left: 3px;
    top: 6px;
}

.noUi-handle:after {
    top: 10px;
}


/* Disabled state;
 */

[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
    cursor: not-allowed;
}


/* Tooltips */

.tooltip {
    top: -28px;
    opacity: 0.9 !important;
    left: 8px;
    transform: translateX(-50%);
}